.navbar .bar {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.navbar .menuButton {
    background: #666666;
    position: center;
    color: #FFFFFF;
    cursor: pointer;
    border: solid;
    border-width: 1;
    border-radius: 8;
    min-width: 100%;
    justify-content: left;
    font-family: PT Mono;
    font-weight: bold;
    font-size: large;
    flex-grow: 1;
    margin-bottom: 3%;
}
    
.navbar .menuButton:hover {
    background: #262626
}

.navbar .menuButton:disabled {
    background: #666666;
    border-color: #FFFFFF;
    color: #FFFFFF;
}